*{
    margin: ;
    padding: 0;
    margin: 0;
}
body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgb(33, 30, 90) 0%, rgb(99, 99, 163) 35%, rgba(0,212,255,1) 100%);
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
main{
    list-style: none;
    padding: 10px;
    width: 100px;
    border: transparent thin solid;
    padding: 5px;
    margin: 0px 10px 10px 0;
    max-width: 186px;
    margin-bottom: 100px;
}
span{
    color: rgb(111, 150, 212);
}
.bx-menu{
    color: #fff;
    display: block;
    justify-content: left;
    margin-right: 97%;
    font-size: 30px;
}
.bx-menu:hover{
    color: rgb(111, 150, 212);
    text-indent: 0;
    opacity: 0.9;
    filter: alpha(opacity=50);
    zoom: 1;
}
.seach{
  float: right;
}
input, select{
    border-radius: 5px;
}
::placeholder{
    text-align: center;
}
.img{
    display: flex;

}
.img :hover{
    color: rgb(6, 1, 16);
    text-indent: 0;
    opacity: 0.9;
    filter: alpha(opacity=50);
    zoom: 1;
}
figure{
    width: 30%;
    height: 500%;
    float: right;
    text-align: center;
    font-style: italic;
}
figure img{
    width: 200px;
  
}
p{
    color: #fff;
    display: block;
    text-align: center;
}


.insta, .whats, .phone{
    text-align: left;
    display: block;
    row-gap: 10px;
    grid-row: 6px;
    line-height: 20px;
}
.indicados{
    color: rgb(111, 150, 212);
}
.food{
    display: flex;
    justify-content: space-around;
    color: #fff;
    width: 12px;
    height: 12px;
    padding: 5px;
    margin-top: 50px;
}
.food .itens{
  margin-left: 32px;
}

.salada, .sobre1, .pexels{
    display: inline-table;
    margin-top: 6px;
    padding-top: 3px;
    padding-bottom: 2px;
    margin-bottom: 112px;
}
footer{
    position: fixed;
    bottom: 0;
    background-color: black;
    width: 100%;
    height: 100px;
    padding-top: 50px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}
a{
  color: white;
  text-decoration: none;
}
.phone:hover{
    opacity: 0.5;
    filter: alpha(opacy=50);
    zoom: 1;
}
.whats:hover{
  opacity: 0.5;
  filter: alpha(opacy=50);
  zoom: 1;
}
.insta:hover{
  opacity: 0.5;
  filter: alpha(opacy=50);
  zoom: 1;
}
#contato{
    list-style: none;
    
}.suporte{
    text-align: left;
    font: normal 15px arial;
    color:#fff;
}
  img{
    width: 100%;
    height: 80%;
  }